body,html {
    margin: 0;
    padding: 0;
    background-color: #0c0c0c;
    font-family: Montserrat;
    color: #fff;
}

h1,h2,h3 {
    margin: 0;
}

h1 {
    font-size: 68px;
    font-weight: 900;
    line-height: 1;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 16px;
    text-transform: uppercase;
}

p {
    margin: 0;
    font-size: 14px;
    line-height: 1.6;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
}

/* site --------------------------------------- */

.container {
    max-width: 920px;
    width: 100%;
    margin: 0 auto;
    padding: 0px 10px;
    box-sizing: border-box;
}

.intro,
.works,
.about,
.contact,
.hire {
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-next,
.arrow-prev{
    width: 20px;
    height: 15px;
    fill: #fff;
}

.arrow-prev {
    transform: rotate(180deg);
}



/* header -------------------------------------- */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    max-width: 1440px;
    width: 100%;
    margin-top: 20px;
    padding: 0px 10px;
    box-sizing: border-box;

    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0%);
    z-index: 99;

    transition: .2s;
}

.header__logo {
    display: flex;
    justify-content: space-between;
    width: 110px;
}

.header__logo p {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
}

.header__btn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 25px;
    height: 18px;
    position: relative;

    cursor: pointer;
}

.header__btn::after,
.header__btn::before {
    content: '';

    width: 100%;
    height: 2px;

    background: #fff;

    position: absolute;
}

.header__btn::after {
    top: 0;
}

.header__btn::before {
    bottom: 0;
}

.header__btn span {
    width: 16px;
    height: 2px;
    background: #fff;
}


/* intro -------------------------------------- */

.intro__banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.intro__banner-content h1 {
    margin-bottom: 45px;
}

.intro__banner-content a {
    position: relative;
    z-index: 2;
}

.intro__banner-content a svg {
    margin-bottom: -2px;
}

.intro__banner-content a::after {
    content: '';
    width: 90%;
    height: 30px;
    background: #0f33ff;
    

    position: absolute;
    right: -10px;
    top: -5px;
    z-index: -1;

    transition: .2s;
}

.intro__banner-content a:hover::after {
    width: 125%;
}

.intro__line {
    width: 100%;
    height: 2px;
    background: #282828;
    position: relative;
}

.intro__line::before {
    content: '';
    width: 30px;
    height: 4px;
    background: #0f33ff;
    position: absolute;
    left: 30px;
}

.intro__options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 50px;
}

.intro__item {
    max-width: 250px;
    width: 100%;
    color: #282828;
    transition: .2s;
    cursor: pointer;
}

.intro__item p {
    margin-top: 20px;
}

.intro__item:hover {
    color: #fff;
}

/* works---------------------------------------- */


.works__container {
    max-width: 920px;
    width: 100%;
}

.works__container h2 {
    text-align: center;
}

.works__container > p {
    font-weight: 700;
    text-align: center;
    margin-top: 15px;
}

.works__slider {
    width: 100%;
    position: relative;
    margin-top: 80px;
}

.works__btns a {
    display: inline-block;

    width: 20px;
    height: 15px;
    padding: 18px 15px;

    background: #282828;
    border-radius: 50%;

    position: absolute; 
    top: 50%;
    transform: translateY(-50%);
    transition: .2s;
    z-index: 90;
}

.works__btns a:hover {
    background: #0f33ff;
}

.intro__arrow-prev {
    left: 0;
}

.intro__arrow-next {
    right: 0;
}

.works__wrapper {
    max-width: 740px;
    width: 100%;
}

.works__item {
    text-align: center;
}

.works__item img {
    max-width: 150px;
    width: 100%;
    height: 150px;
    border-radius: 50%;
    -o-object-fit: cover;
       object-fit: cover;
    transition: .2s;
    opacity: .5;
}

.works__item h3 {
    text-align: center;
    margin-top: 10px;
}

.works__wrapper .works__item.swiper-slide-active img {
    transform: scale(1.05);
    opacity: 1;
}

/* career ---------------------------------- */

.about__container {
    max-width: 865px;
    width: 100%;
}

.about__banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
}

.about__banner img {
    max-width: 390px;
    width: 100%;
    height: 630px;
    -o-object-fit: cover;
       object-fit: cover;
}

.about__banner > span {
    position: absolute;
    width: 10px;
    height: 10px;
    background: #0f33ff;
}   

span.about__circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    top: 198px;
    left: 283px;
}

.about__rhomb {
    transform: rotate(45deg);
    top: 180px;
    left: 420px;
}

.about__text h2 {
    font-size: 68px;
    font-weight: 900;
    line-height: 1;
    margin-bottom: 55px;
    position: relative;
}

.about__text h2 span {
    position: absolute;
    width: 10px;
    height: 10px;
    background: #0f33ff;
    bottom: 10px;
    right: 130px;
}

.about__text a svg {
    transition: .2s;
}

.about__text a:hover svg {
    transform: translateX(5px);
}

.about__content {
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    width: 100%;
}

.about__item {
    position: relative;
    cursor: pointer;
}

.about__item img {
    max-width: 150px;
    width: 100%;
    height: 75px;

    -o-object-fit: cover;

       object-fit: cover;

    border: 10px solid #0f33ff;
}

.about__item h3 {
    position: absolute;
    bottom: -8px;
    left: 20px;
    transition: .2s;
}

.about__item:hover h3 {
    transform: translateY(10px);
}

/* contact --------------------------- */

.contact {
    position: relative;
}

.contact img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

.contact__card {
    max-width: 230px;
    width: 100%;
    height: 270px;
    padding: 45px;

    background-color: #0c0c0c;
    box-shadow: 0 0 30px 0 rgb(0 0 0 / 75%);

    text-align: center;

    position: absolute;
    right: 300px;
}

.contact__card p {
    font-weight: 700;
    margin: 14px 0px;
    font-size: 14px;
}

.contact__card p:first-child {
    margin-top: 0;
}

.contact__card a {
    display: inline-block;
    padding: 8px 15px;
    margin-bottom: 25px;
}

.contact__behance {
    background: #1769ff;
}

.contact__dribbble {
    background: #ea4c89;
}

.contact__us {
    background: #0f33ff;
}

/* hire --------------------------- */

.hire__container {
    max-width: 700px;
    width: 100%;
}

.hire__container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.hire__reguest {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hire__item {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.hire__item:nth-child(2){
    justify-content: space-around;
    width: 70%;
    margin: 0 auto;
}

.hire__item:last-child {
    justify-content: center;
}

.hire__item a {
    display: inline-block;
    padding: 20px 50px;
    border: 2px solid #fff;
    text-transform: none;
    margin-top: 30px;
    transition: .2s;
}

.hire__item a.active {
    background: #0f33ff;
    border: 2px solid #0f33ff;
}

.hire__send {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.hire__send-container {
    display: flex;
    justify-content: space-between;
}

.hire__send-container input {
    width: 42%;
    padding-bottom: 5px;

    border: none;
    outline: none;

    background: transparent;
    border-bottom: 1px solid #fff;

    color: #fff;
    font-size: 30px;
    font-weight: 300;
}

.hire__send-btn {
    display: inline-block;
    padding: 15px 135px;
    background: #0f33ff;
    margin: 0 auto;
    margin-top: 30px;
}

/* slider -------------------- */

.slider {
    height: 100vh;
    transition: .5s;
}

.slider__pagination {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100px;
    height: 620px;
    position: absolute; 
    left: 120px;
    top: 50%;
    transform: translateY(-50%);
    border-left: 2px solid  rgb(85,85,85, .35);
    z-index: 100;
}

.slider__pagination p {
    margin-left: 15px;
    font-weight: 500;
    transition: .2s;
    font-size: 0;
    min-width: 100%;
    height: 25px;
    cursor: pointer;
}

.slider__pagination p::before {
    content: '';
    position: absolute;
    color: #555;
    font-size: 14px;
    font-weight: 500;
    left: -30px;
    transition: .2s;
    opacity: 1;
}

.slider__pagination p:nth-child(1):before {
    content: '01';
}

.slider__pagination p:nth-child(2):before {
    content: '02';
}

.slider__pagination p:nth-child(3):before {
    content: '03';
}

.slider__pagination p:nth-child(4):before {
    content: '04';
}

.slider__pagination p:nth-child(5):before {
    content: '05';
}

.slider__pagination p::after {
    content: '';

    width: 2px;
    height: 2px;
    margin-top: 10px;

    position: absolute;
    left: -2%;

    background: #fff;

    transition: .2s;
}

.slider__pagination p.active {
    font-size: 14px;
} 

.slider__pagination p.active::before {
    color: #fff;
}

.slider__pagination p.active::after {
    background: #0f33ff;
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 20%;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: .2s;
}

.nav.active {
    opacity: 1;
}

.nav a {
    font-size: 55px;
    font-weight: 900;
    margin-top: 15px;
    position: relative;
}

.nav a::before {
    content: '';
    width: 0%;
    height: 15px;
    background: #0f33ff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .2s;
}

.nav a:first-child {
    margin-top: 0;
}

.nav a.active::before {
    width: 130%;
}

.slider.transform {
    transform: scale(.65) rotateY(35deg) translateX(-35%);
}

.header.opacity {
    opacity: 0;
}

/* media ----------------------------------- */

@media (max-width: 1260px) {
    .header {
        max-width: 900px;
    }
    
    .slider__pagination {
        left: 60px;
    }

    .intro__content,
    .works__container,
    .about__container,
    .hire__container {
        max-width: 800px;
    }

    .works__wrapper {
        max-width: 600px;
    }
}

@media (max-width: 1060px) {
    h1 {
        font-size: 60px;
    }

    h2,
    .about__text h2 {
        font-size: 55px;
    }

    .about__text h2 span {
        right: 100px;
    }

    p {
        font-size: 12px;
    }

    .intro img {
        max-width: 350px;
    }

    .works__wrapper {
        max-width: 550px;
    }

    .works__item h3 {
        font-size: 14px;
    }

    .about__container {
        max-width: 600px;
    }

    .about__banner img {
        max-width: 300px;
    }

    .contact__card {
        right: 120px;
    }

    .hire__container {
        max-width: 700px;
    }

    .nav a {
        font-size: 40px;
    }
}

@media (max-width: 900px) {
    .slider__pagination {
        display: none;
    }
}

@media (max-width: 900px) {
    h1 {
        font-size: 52px;
    }

    .header {
        width: 80%;
    }
    
    .intro__content, 
    .works__container, 
    .about__container, 
    .hire__container {
        max-width: 650px;
    }

    .intro img {
        max-width: 280px;
    }

    .contact__card {
        padding: 30px;
        right: 70px;
    }

    .hire__item a {
        padding: 20px 35px;
    }

    .nav a {
        font-size: 25px;
    }

    .nav a::before {
        height: 10px;
    }
}

@media (max-width: 655px) {
    h1 {
        font-size: 45px;
    }

    h2,
    .about__text h2 {
        font-size: 40px;
    }
    
    .intro__content, 
    .works__container, 
    .about__container, 
    .hire__container {
        max-width: 520px;
    }

    .intro img {
        max-width: 250px;
    }

    .intro__item {
        width: 32%;
    }

    .intro__options {
        margin-top: 30px;
    }

    .works__btns {
        display: none;
    }

    .about__text h2 span {
        display: none;
    }

    .about__banner img {
        max-width: 250px;
        -o-object-fit: contain;
           object-fit: contain;
    }

    .about__item img {
        max-width: 130px;
    }

    .contact__card {
        padding: 15px;
        right: 30px;
    }

    .hire__item a {
        padding: 20px 15px;
    }
}

@media (max-width: 540px) {
    h1 {
        font-size: 35px;
    }

    h2,
    .about__text h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 14px;
    }

    p {
        font-size: 12px;
    }
    
    .intro__content, 
    .works__container, 
    .about__container, 
    .hire__container {
        max-width: 450px;
    }

    .works__item img {
        max-width: 120px;
        height: 120px;
    }

    .about__item img {
        max-width: 110px;
        -o-object-fit: contain;
           object-fit: contain;
    }

    .contact__card {
        max-width: 165px;
        height: 310px;
    }

    .hire__item a {
        padding: 15px 10px;
    }

    .slider.transform {
        transform: scale(.5) rotate(0deg) translateX(-45%);
    }

    .nav a {
        font-size: 20px;
    }
}

@media (max-width: 450px) {
    h1 {
        font-size: 25px;
    }

    h2,
    .about__text h2 {
        font-size: 20px;
    }
    
    h3,
    .works__item h3 {
        font-size: 12px;
    }

    p {
        font-size: 10px;
    }
    
    .intro__content, 
    .works__container, 
    .about__container, 
    .hire__container {
        max-width: 320px;
    }

    .intro img {
        max-width: 180px;
    }

    .intro__options {
        flex-direction: column;
    }

    .intro__item {
        width: 100%;
        margin-top: 20px;
    }

    .intro__item p {
        margin-top: 12px;
    }

    .works__item img {
        max-width: 85px;
        height: 85px;
    }

    .about__item img {
        max-width: 80px;
    }

    .hire__item a {
        font-size: 10px;
    }

    .hire__send-btn {
        padding: 15px 80px;
    }

    .hire__send-container input {
        width: 45%;
        font-size: 12px;
    }
}